<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="Consolidados.DataLayer.Properties.Settings.CadenaConexion"
        connectionString="Server=25.70.216.105;Database=Consolidados;User=sa;Password=Ss@20601836271;" />
  </connectionStrings>
</configuration>